.repquest
  = form_for @reponse_questionnaire do |f| 
    .row
      .col-sm-offset-2.col-sm-8
        = f.label :questionnaires, "Choisissez le sondage:"
        = f.collection_select :questionnaire_id, Questionnaire.order(:id), :id, :titre, include_blank: false
        %br
        = f.label :pourcentage, "Entrez le nombre de pourcentage"
        = f.text_field :pourcentage
        %br
        = f.label :texte, "Décrire le résultat"
        = f.text_area :texte
        
        %br
        = f.label :pdf, "Télécharger un fichier PDF"
        = f.file_field :pdf

    .row
      .col-sm-offset-4.col-sm-4
        %br
        = f.submit "Ajouter ce résultat", class: 'btn btn-primary btn-lg', id: "submit_form"
        %br
        %br
        = link_to "Retourner vers les sondages", questionnaires_path, method: :get, class: "btn btn-primary btn-lg btn-back-sond"