%h1= "Bonjour #{@destinataire.pseudo}"
%p
  = "Un nouveau message vient d'être créé sur la plateforme Perche Participatif par "
  = @contributeur.nom
  = @contributeur.prenom
  \.
%p
  %a{ href: @scot_message_url} Lire les détails du message.

/ = link_to "Lire les détails du message.", scot_messages_path

= link_to url_for(controller: '/scot_messages',action: 'index', id: @scot_message.id)

/ = url_for(@scot_messages)cd 

