%h1= "Bonjour #{@destinataire.pseudo}"
%p
  = "Un nouveau message vient d'être créé sur la plateforme Perche Participatif par "
  = @contributeur.nom
  = @contributeur.prenom
  \.
%p
  %a{ href: @scot_messages_url} Lire les détails du message.
