.questform
  = form_for @questionnaire do |f|
    .row
      .col-sm-offset-2.col-sm-8
        = f.label :titre, "Titre du sondage"
        = f.text_field :titre
          
        = f.label :code_formulaire, "Entrer le code du Sondage"
        = f.text_field :code_formulaire, placeholder: "Entrez juste le code du sondage https://docs.google.com/forms/d/(Code du sondage)"
      
        = f.label :description, "Décrire le sondage"
        = f.text_area :description
    .row
      .col-sm-offset-4.col-sm-4
        = f.submit "Enregistrer le sondage", class: 'btn btn-primary btn-lg btnquest', id: "submit_form"